/* App.css */

.app-header {
  display: flex;
}

.app-body {
  margin-left: 16px;
}

p {
  font-family: "Arial", sans-serif;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

header {
  background-color: blue;
  padding: 10px;
  color: white;
}

footer {
  background-color: blue;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
